@page
@model xmuer.Pages.Homepage.UserInfoModel
@{
    var gender = "其他";
    switch (Model.userInfo.gender)
    {
        case 1:
            gender = "男";
            break;
        case 2:
            gender = "女";
            break;
        default:
            gender = "其他";
            break;
    };
    Model.userInputInfo = Model.userInfo;
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-dark" style="margin-top:30px">
                <div class="card-header">
                    <svg class="bi bi-building" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15.285.089A.5.5 0 0 1 15.5.5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .418-.493l5.582-.93V3.5a.5.5 0 0 1 .324-.468l8-3a.5.5 0 0 1 .46.057zM7.5 3.846V8.5a.5.5 0 0 1-.418.493l-5.582.93V15h8v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.222l-7 2.624z" />
                        <path fill-rule="evenodd" d="M6.5 15.5v-7h1v7h-1z" />
                        <path d="M2.5 11h1v1h-1v-1zm2 0h1v1h-1v-1zm-2 2h1v1h-1v-1zm2 0h1v1h-1v-1zm6-10h1v1h-1V3zm2 0h1v1h-1V3zm-4 2h1v1h-1V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm-2 2h1v1h-1V7zm2 0h1v1h-1V7zm-4 0h1v1h-1V7zm0 2h1v1h-1V9zm2 0h1v1h-1V9zm2 0h1v1h-1V9zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1z" />
                    </svg>
                    学校信息
                    <button type="button" class="btn btn-info" style="margin-left:65%" data-toggle="modal" data-target="#exampleModalCenter1">编辑</button>
                </div>
                <div class="card-body">
                    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">修改学校信息</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <div class="form-group row">
                                            <label for="university" class="col-sm-3 col-form-label">大学</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="university" placeholder="大学" asp-for="userInputInfo.university">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="highSchool" class="col-sm-3 col-form-label">高中</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="highSchool" placeholder="高中" asp-for="userInputInfo.highSchool">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="juniorHighSchool" class="col-sm-3 col-form-label">初中</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="juniorHighSchool" placeholder="初中" asp-for="userInputInfo.juniorHighSchool">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="primarySchool" class="col-sm-3 col-form-label">小学</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="primarySchool" placeholder="小学" asp-for="userInputInfo.primarySchool">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10" style="margin-left:65%">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="university" class="col-sm-3 col-form-label">大学</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="university" value=@Model.userInfo.university>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="highSchool" class="col-sm-3 col-form-label">高中</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="highSchool" value=@Model.userInfo.highSchool>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="juniorHighSchool" class="col-sm-3 col-form-label">初中</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="juniorHighSchool" value=@Model.userInfo.juniorHighSchool>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="primarySchool" class="col-sm-3 col-form-label">小学</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="primarySchool" value=@Model.userInfo.primarySchool>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card border-dark" style="margin-top:30px">
                <div class="card-header">
                    <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                    个人兴趣
                    <button type="button" class="btn btn-info" style="margin-left:65%" data-toggle="modal" data-target="#exampleModalCenter2">编辑</button>
                </div>
                <div class="card-body">
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">修改个人兴趣</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <div class="form-group row">
                                            <label for="hobbyMusic" class="col-sm-3 col-form-label">音乐</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbyMusic" placeholder="音乐" asp-for="userInputInfo.hobbyMusic">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hobbyBook" class="col-sm-3 col-form-label">书本</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbyBook" placeholder="书本" asp-for="userInputInfo.hobbyBook">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hobbyMovie" class="col-sm-3 col-form-label">电影</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbyMovie" placeholder="电影" asp-for="userInputInfo.hobbyMovie">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hobbyGame" class="col-sm-3 col-form-label">游戏</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbyGame" placeholder="游戏" asp-for="userInputInfo.hobbyGame">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hobbyAnime" class="col-sm-3 col-form-label">动漫</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbyAnime" placeholder="动漫" asp-for="userInputInfo.hobbyAnime">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hobbySport" class="col-sm-3 col-form-label">运动</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbySport" placeholder="运动" asp-for="userInputInfo.hobbySport">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hobbyOther" class="col-sm-3 col-form-label">爱好</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hobbyOther" placeholder="爱好" asp-for="userInputInfo.hobbyOther">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10" style="margin-left:65%">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="hobbyMusic" class="col-sm-3 col-form-label">音乐</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbyMusic" value=@Model.userInfo.hobbyMusic>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hobbyBook" class="col-sm-3 col-form-label">书本</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbyBook" value=@Model.userInfo.hobbyBook>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hobbyMovie" class="col-sm-3 col-form-label">电影</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbyMovie" value=@Model.userInfo.hobbyMovie>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hobbyGame" class="col-sm-3 col-form-label">游戏</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbyGame" value=@Model.userInfo.hobbyGame>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hobbyAnime" class="col-sm-3 col-form-label">动漫</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbyAnime" value=@Model.userInfo.hobbyAnime>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hobbySport" class="col-sm-3 col-form-label">运动</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbySport" value=@Model.userInfo.hobbySport>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hobbyOther" class="col-sm-3 col-form-label">爱好</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hobbyOther" value=@Model.userInfo.hobbyOther>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-dark" style="margin-top:30px">
                <div class="card-header">
                    <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    基本信息
                    <button type="button" class="btn btn-info" style="margin-left:65%" data-toggle="modal" data-target="#exampleModalCenter3">编辑</button>
                </div>
                <div class="card-body">
                    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">修改基本信息</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <div class="form-group row">
                                            <label for="realName" class="col-sm-3 col-form-label">姓名</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="realName" placeholder="姓名" asp-for="userInputInfo.realName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="gender" class="col-sm-3 col-form-label">性别</label>
                                            <div class="col-sm-9">
                                                <select class="custom-select my-1 mr-sm-2" id="gender" asp-for="userInputInfo.gender">
                                                    <option selected>选择...</option>
                                                    <option value="1">男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="birthday" class="col-sm-3 col-form-label">生日</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" id="birthday" placeholder="生日" asp-for="userInputInfo.birthday">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="hometown" class="col-sm-3 col-form-label">家乡</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="hometown" placeholder="家乡" asp-for="userInputInfo.hometown">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-3 col-form-label">邮箱</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="email" placeholder="邮箱" asp-for="userInputInfo.email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mobile" class="col-sm-3 col-form-label">手机号</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="mobile" placeholder="手机号" asp-for="userInputInfo.mobile">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10" style="margin-left:65%">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="gender" class="col-sm-3 col-form-label">性别</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="gender" value=@gender>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="birthday" class="col-sm-3 col-form-label">生日</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="birthday" value=@Model.userInfo.birthday>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hometown" class="col-sm-3 col-form-label">家乡</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="hometown" value=@Model.userInfo.hometown>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">邮箱</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="email" value=@Model.userInfo.email>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-3 col-form-label">手机号</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="mobile" value=@Model.userInfo.mobile>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
