@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}

@*首页 CSS*@
<link rel="stylesheet" href="/css/IndexPage.css" />

@*首页 JS*@
<script>
    $(document).ready(() => {
        // 添加左边菜单栏选中
        $('#mnuHome').addClass("active");
    })
</script>

@*新鲜事*@
<div class="card border-primary">
    <h6 class="card-header">
        新鲜事
    </h6>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @*这是新鲜事的内容*@
                <div class="media fresh-thing">
                    <img src="images/xmulogo.jpg" class="mr-3" alt="阿这 网络断了" width="50" height="50">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">邱明的小粉丝 1</h6>
                        <p class="mt-0 mb-1 text-muted">发布于：16/12/2020 18:11</p>
                        <div class="fresh-thing-content">
                            希望测试用例全过。
                        </div>
                        @*这是新鲜事的按钮*@
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-light" id="btnPraise"> 👍 按赞 (2.5k) </button>
                            <button type="button" class="btn btn-light" id="btnComment"> 💬 评论 (1,203) </button>
                            <button type="button" class="btn btn-light" id="btnView"> 👀 查看 </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                @*这是新鲜事的内容*@
                <div class="media fresh-thing">
                    <img src="images/xmulogo.jpg" class="mr-3" alt="阿这 网络断了" width="50" height="50">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">邱明的小粉丝 2</h6>
                        <p class="mt-0 mb-1 text-muted">发布于：16/12/2020 18:11</p>
                        <div class="fresh-thing-content">
                            希望公开测试用例全过。
                        </div>
                        @*这是新鲜事的按钮*@
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-light" id="btnPraise"> 👍 按赞 (2.5k) </button>
                            <button type="button" class="btn btn-light" id="btnComment"> 💬 评论 (1,203) </button>
                            <button type="button" class="btn btn-light" id="btnView"> 👀 查看 </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                @*这是新鲜事的内容*@
                <div class="media fresh-thing">
                    <img src="images/xmulogo.jpg" class="mr-3" alt="阿这 网络断了" width="50" height="50">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">邱明的小粉丝 3</h6>
                        <p class="mt-0 mb-1 text-muted">发布于：16/12/2020 18:11</p>
                        <div class="fresh-thing-content">
                            希望私人测试用例全过。
                        </div>
                        @*这是新鲜事的按钮*@
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-light" id="btnPraise"> 👍 按赞 (2.5k) </button>
                            <button type="button" class="btn btn-light" id="btnComment"> 💬 评论 (1,203) </button>
                            <button type="button" class="btn btn-light" id="btnView"> 👀 查看 </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
