@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}

    <div class="jumbotron">
        <h1 class="display-3">我爱你，邱明</h1>
        <p class="lead">因为我还不知道这里要放啥，所以我还是去做 JavaEE 好了</p>
        <hr class="my-4">
        <p>明天再做</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">啊</a>
        </p>
    </div>
